# moon
.idea
.env
.DS_Store
node_modules
packages/brease-core/build
packages/react-brease/build
packages/react-brease/coverage
packages/react-brease-devtools/build
packages/vue-brease/build
nx-cloud.env
